In [5]:
import pandas as pd

In [6]:
ds=pd.read_csv('Churn_Modelling.csv')

In [7]:
ds.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
ds.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
ds.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [8]:
ds.duplicated().any()

False

In [9]:
ds.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [10]:
ds.shape

(10000, 14)

In [11]:
ds.shape[0]

10000

In [12]:
ds.shape[1]

14

In [16]:
ds.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [9]:
ds=ds.drop(['RowNumber','CustomerId','Surname'], axis=1)

In [10]:
ds.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [22]:
ds.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [11]:
ds['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [12]:
ds=pd.get_dummies(ds,drop_first=True)

In [13]:
ds.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [14]:
ds['Exited'].count()

10000

In [15]:
X=ds.drop('Exited',axis=1)

In [16]:
y=ds['Exited']

In [34]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split

In [41]:
X_train,X_test,y_train,y_test=train_test_split(X_res,y_res,test_size=0.2,random_state=42)

In [42]:
from sklearn.preprocessing import StandardScaler

In [43]:
sc=StandardScaler()

In [44]:
X_train=sc.fit_transform(X_train)

In [45]:
X_test=sc.transform(X_test)

In [46]:
#logistic regression

In [62]:
from sklearn.linear_model import LogisticRegression

In [63]:
lr=LogisticRegression()

In [64]:
lr.fit(X_train,y_train)

LogisticRegression()

In [65]:
y_pred1=lr.predict(X_test)

In [66]:
y_pred1

array([0, 1, 0, ..., 1, 1, 1], dtype=int64)

In [67]:
from sklearn.metrics import accuracy_score

In [68]:
accuracy_score(y_test,y_pred1,)

0.7831136220966729

In [69]:
from sklearn.metrics import precision_score,recall_score,f1_score

In [70]:
precision_score(y_test,y_pred1)

0.7707286432160804

In [71]:
recall_score(y_test,y_pred1)

0.7900837089504186

In [72]:
f1_score(y_test,y_pred1)

0.7802861685214626

In [58]:
from imblearn.over_sampling import SMOTE

In [59]:
X_res,y_res=SMOTE().fit_resample(X,y)

In [61]:
y_res.value_counts()

1    7963
0    7963
Name: Exited, dtype: int64

In [73]:
from sklearn import svm

In [75]:
svm=svm.SVC()

In [76]:
svm.fit(X_train,y_train)

SVC()

In [77]:
y_pred2=svm.predict(X_test)

In [78]:
accuracy_score(y_test,y_pred2)

0.839924670433145

In [79]:
from sklearn.neighbors import KNeighborsClassifier

In [80]:
kn=KNeighborsClassifier()

In [81]:
kn.fit(X_train,y_train)

KNeighborsClassifier()

In [82]:
y_pred3=kn.predict(X_test)

In [83]:
accuracy_score(y_test,y_pred3)

0.8217200251098556

In [86]:
precision_score(y_test,y_pred3)

0.8072364316905801

In [87]:
from sklearn.tree import DecisionTreeClassifier

In [88]:
dss=DecisionTreeClassifier()

In [89]:
dss.fit(X_train,y_train)

DecisionTreeClassifier()

In [90]:
y_pred4=dss.predict(X_test)

In [91]:
accuracy_score(y_test,y_pred4)

0.7940991839296924

In [95]:
precision_score(y_test,y_pred3)

0.8072364316905801

In [96]:
from sklearn.ensemble  import RandomForestClassifier

In [102]:
rf=RandomForestClassifier()

In [106]:
rf.fit(X_train,y_train)

RandomForestClassifier()

In [107]:
y_pred5=rf.predict(X_test)

In [108]:
accuracy_score(y_test,y_pred5)

0.8615819209039548

In [109]:
from sklearn.ensemble  import GradientBoostingClassifier

In [110]:
gb=GradientBoostingClassifier()

In [111]:
gb.fit(X_test,y_test)

GradientBoostingClassifier()

In [112]:
y_pred6=gb.predict(X_test)

In [113]:
accuracy_score(y_test,y_pred6)

0.8728813559322034

In [114]:
X_res=sc.fit_transform(X_res)

In [115]:
rf.fit(X_res,y_res)

RandomForestClassifier()

In [116]:
import joblib

In [118]:
joblib.dump(rf,'customer_chrun_model')

['customer_chrun_model']

In [119]:
model=joblib.load('customer_chrun_model')

In [120]:
model.predict([[567,0,1,0,0,3,0,1,0,2,0]])

array([1], dtype=int64)

In [121]:
model[0]

DecisionTreeClassifier(max_features='auto', random_state=237715656)

In [122]:
from tkinter import *
from sklearn.preprocessing import StandardScaler
import joblib

In [ ]:
def show_entry_fields():
    p1=int(e1.get())
    p2=int(e2.get())
    p3=int(e3.get())
    p4=float(e4.get())
    p5=int(e5.get())
    p6=int(e6.get())
    p7=int(e7.get())
    p8=float(e8.get())
    p9=int(e9.get())
    if p9 == 1:
        Geography_Germany=1
        Geography_Spain=0
        Geography_France=0
    elif p9 == 2:
        Geography_Germany=0
        Geography_Spain=1
        Geography_France=0
    elif p9 == 3:
        Geography_Germany=0
        Geography_Spain=0
        Geography_France=1  
    p10=int(e10.get())
    model = joblib.load('customer_chrun_model')
    result=model.predict(sc.transform([[p1,p2,p3,p4,
                           p5,p6,
                           p7,p8,Geography_Germany,Geography_Spain,p10]]))
    
    if result == 0:
        Label(master, text="No Exit").grid(row=31)
    else:
        Label(master, text="Exit").grid(row=31)
    
    
master = Tk()
master.title("Bank Customers Churn Prediction Using Machine Learning")


label = Label(master, text = "Customers Churn Prediction Using ML"
                          , bg = "black", fg = "white"). \
                               grid(row=0,columnspan=2)


Label(master, text="CreditScore").grid(row=1)
Label(master, text="Age").grid(row=2)
Label(master, text="Tenure").grid(row=3)
Label(master, text="Balance").grid(row=4)
Label(master, text="NumOfProducts").grid(row=5)
Label(master, text="HasCrCard").grid(row=6)
Label(master, text="IsActiveMember").grid(row=7)
Label(master, text="EstimatedSalary").grid(row=8)
Label(master, text="Geography").grid(row=9)
Label(master,text="Gender").grid(row=10)


e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)
e7 = Entry(master)
e8 = Entry(master)
e9 = Entry(master)
e10 = Entry(master)


e1.grid(row=1, column=1)
e2.grid(row=2, column=1)
e3.grid(row=3, column=1)
e4.grid(row=4, column=1)
e5.grid(row=5, column=1)
e6.grid(row=6, column=1)
e7.grid(row=7, column=1)
e8.grid(row=8, column=1)
e9.grid(row=9, column=1)
e10.grid(row=10,column=1)

Button(master, text='Predict', command=show_entry_fields).grid()

mainloop()